<a href="https://colab.research.google.com/github/ngish-012/Women-Techsters-Trainings/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#reading a file and checking for type and shape
import pandas as pd
f500 = pd.read_csv('f500.csv',index_col=0)
f500.index.name = None

f500_type = type(f500)
f500_shape = f500.shape

In [ ]:
#Automatically gives back the first five rows but accepts a parameter
pd.header()
pd.header(2)

f500.header()
f500.headee(3)

In [ ]:
#we can use the DataFrame.tail() method to show us the last rows of our dataframe:
f500.tail()

In [ ]:
#selecting columns
df.loc[:,["col1","col2"]]
df[["col1", "col2"]]

In [ ]:
#selecting rows
df.loc[row_label, column_label]
single_row = f500_selection.loc["Sinopec Group"]
print(type(single_row))
print(single_row)

In [ ]:
#series has one column, a dataframe several
# the Series.value_counts() method. 
#This method displays each unique non-null value in a column and their counts in order.
countries = f500["country"]
country_counts = countries.value_counts()

In [ ]:
#Selecting Items from a Series by Label